[Desktop Entry]
Name=Torrent Throttle
Comment=Pause or throttle torrent downloads when specific programs are running
Type=Application
Exec=cosmic-ext-applet-torrent-throttle --applet
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;torrent;qbittorrent;bandwidth;
Icon=network-transmit-receive-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
