[Desktop Entry]
Name=qBit Remote
Comment=Pause or throttle qBittorrent downloads when specific programs are running
Type=Application
Exec=cosmic-ext-applet-qbit-remote --applet
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;torrent;qbittorrent;bandwidth;
Icon=network-transmit-receive-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
